body {
  background-color: rgb(87, 89, 89);
}

.links {
  background-color:
}

.row {
  clear: both;
  float: left;
}

.row a img {
  border-radius: 15px;
  border-color: rgb(51, 55, 53);
}
